---
import { getCollection } from 'astro:content';
const posts = await getCollection('blog', ({ data }) => data);
import { type CollectionEntry, getCollection } from 'astro:content';
const portfolio_target = [
    {
        name: "Computer Repair, Virus Removal, and Data Recovery",
        description: "Your Trusted Partner in Computer Solutions",
        link: "/blog/repair-upgrade-recovery-virus-removal/",
        image:'/blog-placeholder-1.png',
        progect:"#",
    },
    {
        name: "Business & Academic Computing Machines",
        description: "Powerful Computing Solutions for Your Business and Academic Needs",
        link: "/blog/busniness-adademic-computing/",
        image:'/blog-placeholder-4.png',
        progect:"#",
    },
    {
        name: "Customized High-End Builds",
        description: "Unleash Your Creativity with Customized High-End Builds",
        link: "/blog/custom-high-end-computers/",
        image:'/blog-placeholder-2.png',
        progect:"#",
    },
    {
        name: "Android TV Set-Top Boxes",
        description: "Welcome to the Future of Entertainment",
        link: "/blog/android-tv/",
        image:'/blog-placeholder-3.png',
        progect:"#",
    },
    {
        name: "Cutting-Edge Mobile Devices",
        description: "Stay Connected and Productive with Our Range of Mobile Devices",
        link: "/blog/cutting-edge-mobile/",
        image:'/blog-placeholder-5.png',
        progect:"#",
    },  
    {
        name: "Sustainable Computer Recycling Services",
        description: "Stay Connected and Productive with Our Range of Mobile Devices",
        link: "/blog/reduce-reuse-recycle/",
        image:'/blog-placeholder-6.png',
        progect:"#",
    },      
]
---


<main>
    <h2>Projects</h2>
    <div id="main">
        {portfolio_target.map(post => (
            <div class="target"> 
                <div class="project">
                    <h3>{post.name}</h3>
                    <a href={post.link} target="_blank">
                     <div class="hero-image">
					    {post.image && <img style="width:100%" src={post.image} alt="" />}
				    </div>
                    </a>
                    <p>{post.description}</p>
                    <a href={post.link}><button>Read More</button></a>
                </div>
            </div>
         ))}
    </div>
</main>
<style>
    main {
        border-top: 3px solid #E95420;
    }
    #main{
        display: block;
        flex-wrap: wrap;
        margin: 1em 0;
        flex-wrap: wrap;
    }
    .target {
        display: flex;
        justify-content: center;
        flex: 1;
        width: 100%;
      
    }
    .project {
        text-align: center;
            margin-bottom:2rem;
            margin-top:2rem;

    }
    .project img {
        display: block;
        margin: 0 auto;
    }


    p{
        margin-top: 0px
    }
    button{
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor:pointer;
        border:5px solid black;
        margin: 0 auto;
        display:block;
    }
    button:hover {
        background-color: #008A4D; /* Green */
        color: white;
        }
    @media screen and (max-width: 700px) {
  #main {
    flex-wrap: wrap;
  }
 .target {
    width: 100%;
    height: auto;
  }
 .project {
    text-align: left;

  }
 .project img {
    width: 100%;
  }
}
</style>
